altgraph==0.16.1
cycler==0.10.0
future==0.17.1
kiwisolver==1.1.0
MouseInfo==0.0.4
numpy==1.17.2
opencv-python==4.1.1.26
pandas==0.25.1
pefile==2019.4.18
Pillow==6.1.0
PyAutoGUI==0.9.47
PyGetWindow==0.0.7
PyInstaller==3.5
PyMsgBox==1.0.7
pyparsing==2.4.2
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.22
python-dateutil==2.8.0
PyTweening==1.0.3
pytz==2019.2
pywin32-ctypes==0.2.0
selenium==3.141.0
six==1.12.0
urllib3==1.25.3
xlrd==1.2.0
